body,html {
    font-family: sans-serif;
    height: 1500px;

    background-color: black;
    padding: 0;
    margin: 0;
  }

  .blue{
    background-color: #7ed6df;
    width: 400px;
    height: 300px;
    padding: 50px;
    margin-top: 70px;
    border:0px;
    font-size:35px;  
    font-weight: bold;
    color:white;
    position: absolute;
  
  }

  .yellow{
    background-color: #ffcc00;
    width: 190px;
    height: 390px;
    border-width: 5px;
    border-color: grey;
    border-style: solid;
    padding:0 px;
    left:500px;
    margin-top:70px;
    position: absolute;
 }
  

  .top-box{
    background-color:#ff7979;
    width:700px;
    height:70px; 
    position: fixed;
  }

  
  .green{
      background-color: #badc58;
      width: 90px;
      height: 30px;
      position : absolute;
      left: 450px;
      top: 55px;      
  } 




